<!-- templates/quiz/question.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Quiz Question</title>
</head>
<body>
    <h1>Quiz Question</h1>
    <form method="post" >
        {% csrf_token %}
        <p>{{ question.question }}</p>
        <label><input type="radio" name="user_answer" value="{{ question.option1 }}"> {{ question.option1 }}</label><br>
        <label><input type="radio" name="user_answer" value="{{ question.option2 }}"> {{ question.option2 }}</label><br>
        <label><input type="radio" name="user_answer" value="{{ question.option3 }}"> {{ question.option3 }}</label><br>
        <label><input type="radio" name="user_answer" value="{{ question.option4 }}"> {{ question.option4 }}</label><br>
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'show_question' question_id=next_question_id  %}">Next</a>
</body>
</html>
